

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 var(--padding);
  width: 100vw;
  height: 6em;
  /* mix-blend-mode: difference; */
  /* filter: blur(0.25px); */
  background: var(--background-screen);
  backdrop-filter: blur(10px);
  pointer-events: none;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
}

.nav .contact {
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
  pointer-events: all;
}

.nav .contact {
  align-items: flex-end;
}

.nav .contact a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  opacity: 0.8;
  transition: opacity var(--snappy-curve);
}

.nav .contact a:hover {
  opacity: 1;
}

/* .nav .contact a:first-child {
  padding-left: 1.75em;
  border-left: 1px solid var(--sublte);
} */

.radioLogo {
  height: 25px;
  width: auto;
  transform: translateY(0.15em);
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  padding: var(--padding);
  width: 100vw;
  mix-blend-mode: difference;
  margin-top:var(--padding);
  border-top: 1px solid var(--sublte);
}

.footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  max-width: var(--max-width);
}

.footerIcon {
  opacity: 0.3;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* -webkit-filter: blur(0.25px); */
  /* filter: blur(0.25px); */
  background-color: var(--background);
  overflow-x: hidden;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 calc(1em + 5vw);
  width: 100%;
  height: 80vh;
  background-color: var(--background);
  mix-blend-mode: lighten;
}

.hero h1 {
  font-size: min(calc(2em + 5vw), 9.5em);
  font-weight: 900;
  line-height: 0.8em;
  text-transform: uppercase;
  max-width: var(--max-width);
}

.hero h1 .eyebrow {
  font-size: 0.3em;
  display: block;
  line-height: 1.2em;
  text-transform: none;
  font-weight: 800;
  color: var(--accent);
  /* font-style: italic; */
  margin-left: 0.15em;
}

.hero h1 .highlight {
  /* -webkit-text-stroke: 2px var(--foreground);
  color: var(--background); */
  font-style: italic;
}

.hero h1, .hero h2, .hero h3, .hero p {
  z-index: 2;
  mix-blend-mode: difference;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  width: 80%;
  max-width: calc(var(--max-width) / 2);
  mix-blend-mode: difference;
}

.gridWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(var(--max-width) + 25em);
}

.grid {
  position: relative;
  width: 100%;
  padding: var(--padding);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 900px) { .grid { grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 1400px) { .grid { grid-template-columns: repeat(3, 1fr); } }


.videoLink {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 16/9;
  mix-blend-mode: lighten;
}

@media (hover: hover) {
  .videoLink {
    opacity: 0.9;
    transition: opacity 0.15s var(--snappy-curve);

  }
  .videoLink:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.videoLink img {
  pointer-events: none;
}


.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  padding: 15vw var(--padding) 0;
}

.services h2 {
  position: relative;
  font-size: 1em;
  margin-bottom: 3em;
  font-weight: 400;
  color: var(--accent);
}

.serviceRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  margin-bottom: calc(5em - 1vw);
}

.rowHR {
  flex: 1;
  border: none;
  border-top: 1px dotted rgba(204, 211, 218, 0.609);
  transform: translateY(0.5em);
}

.servicesList {
  width: 50%;
}

.serviceRow p {
  line-height: unset;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 700px) {
  .serviceRow {
    flex-direction: column;
    gap: 0.25em;
  }
  .rowHR {
    flex: unset;
    width: 100%;
    transform: none;
  }
  .servicesList {
    width: 100%;
  }
}


.clients {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  padding: 15vw var(--padding);
}

.clients h2 {
  position: relative;
  font-size: 1em;
  margin-bottom: 3em;
  font-weight: 400;
  color: var(--accent);
}

.clients .logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 4em;
  width: 100%;
}

@media (min-width: 700px) {
  .clients .logos {
    grid-template-columns: repeat(3, 1fr);
    gap: 7em;
  }
}

.clientLogo {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}


.modalOverlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  gap: 2em;
  background: var(--background-screen);
  backdrop-filter: blur(10px) grayscale(1);
}

.modalOverlay::-webkit-scrollbar {
  display: none;
}

.modalClose {
  position: fixed;
  top: var(--padding);
  right: var(--padding);
  opacity: 0.8;
  transition: opacity var(--snappy-curve);
}

.modalClose:hover {
  opacity: 1;
}

.modalOverlay video {
  aspect-ratio: 16/9;
  width: 90%;
  max-width: 90%;
  max-height: 80vh;
  max-width: calc(var(--max-width) + 15em);
}

.modalOverlay div:not(.clickdetect) {
  width: 90%;
  max-width: var(--max-width-nested);
}

.modalOverlay h2 {
  position: relative;
  font-size: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  color: var(--accent);
}

.modalOverlay ul {
  margin-bottom: 2em;
}

.techList a {
  text-decoration: underline;
}