

.marqueeMask {
  position: relative;
  -webkit-clip-path: url("../public/marquee-mask.svg");
  clip-path: url("../public/marquee-mask.svg");
  padding: 1vw;
}

.marqueeVideo {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: var(--border-radius);
  /* filter: saturate(0); */
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0.25px);
  filter: blur(0.25px);
  pointer-events: none;
  user-select: none;
}

.tickerWrap {
  position: relative;
  -webkit-filter: blur(0.25px);
  filter: blur(0.25px);
  pointer-events: none;
  user-select: none;
  transform: translateY(-0.2em);
}

.tickerBlurL {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100%;
  background: linear-gradient(to left, transparent, var(--background));
  -webkit-mask-image: linear-gradient(to right, var(--background) 25%, transparent);
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  z-index: 3000;
}

.tickerBlurR {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--background));
  -webkit-mask-image: linear-gradient(to left, var(--background) 25%, transparent);
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  z-index: 3000;
}

.tickerText {
  font-size: calc(1em + 3vw);
  line-height: auto;
  font-weight: 800;
  white-space: nowrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 1vw;
}

.gridLink {
  position: relative;
  aspect-ratio: 16/9;
}

.gridLink img {
  border-radius: var(--border-radius);
  filter: saturate(0);
  transition: filter 0.2s var(--snappy-curve);
}

.gridLink img:hover {
  filter: saturate(1);
}