.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: calc(1em + 2vw);
  width: 100vw;
  z-index: 1000;
  /* mix-blend-mode: difference; */
  /* filter: blur(0.25px); */
  background: var(--background-screen);
  backdrop-filter: blur(10px);
  pointer-events: none;
}

.nav .contact a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  opacity: 0.8;
  transition: opacity var(--snappy-curve);
}

.nav .contact a:hover {
  opacity: 1;
}

.nav .contact a:first-child {
  padding-right: 1.75em;
  border-right: 1px solid var(--sublte);
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  top: 0;
  left: 0;
  padding: calc(1em + 2vw);
  width: 100vw;
  z-index: 1000;
  mix-blend-mode: difference;
  margin-top:calc(1em + 2vw);
  border-top: 1px solid var(--sublte);
}

.footer .utility {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.nav .contact {
  display: flex;
  flex-direction: row;
  gap: 2em;
  pointer-events: all;
}

.nav .contact {
  align-items: flex-end;
}

@media screen and (min-width: 700px) {
  .footer .utility {
    flex-direction: row;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* -webkit-filter: blur(0.25px); */
  /* filter: blur(0.25px); */
  background-color: var(--background);
  overflow-x: hidden;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 calc(1em + 5vw);
  width: 100%;
  height: 80vh;
  background-color: var(--background);
  mix-blend-mode: lighten;
}

.hero h1 {
  font-size: calc(2em + 5vw);
  font-weight: 900;
  line-height: 0.8em;
  text-transform: uppercase;
  max-width: 1400px;
}

.hero h1 .eyebrow {
  font-size: 0.3em;
  display: block;
  line-height: 1.2em;
  color: var(--accent);
}

.hero h1 .highlight {
  /* -webkit-text-stroke: 2px var(--foreground);
  color: var(--background); */
  font-style: italic;
}

.portrait {
  position: absolute;
  display: block;
  right: -1em;
  top: 0;
  z-index: 0;
  mix-blend-mode: lighten;
  width: 100%;
  max-width: 900px;
  height: 80vh;
  object-fit: cover;
  object-position: center center;
  opacity: 0.5;
  filter: saturate(0) blur(5px);
}

.hero h1, .hero h2, .hero h3, .hero p {
  z-index: 2;
  mix-blend-mode: difference;
}

.marqueeMask {
  display: block;
  width: 100%;
  position: relative;
  -webkit-clip-path: url("../public/marquee-mask.svg");
  clip-path: url("../public/marquee-mask.svg");
  padding: 1vw;
  mix-blend-mode: lighten;
}

.marqueeVideo {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: var(--border-radius);
  /* filter: saturate(0); */
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  width: 80%;
  max-width: 700px;
  mix-blend-mode: difference;
}

.grid {
  position: relative;
  width: 100%;
  padding: calc(1em + 2vw);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 900px) { .grid { grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 1400px) { .grid { grid-template-columns: repeat(3, 1fr); } }


.videoLink {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 16/9;
  mix-blend-mode: lighten;
}

@media (hover: hover) {
  .videoLink {
    opacity: 0.9;
    transition: opacity 0.15s var(--snappy-curve);

  }
  .videoLink:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.videoLink img {
  pointer-events: none;
}


.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  padding: 15vw calc(1em + 2vw) 0;
}

.services h2 {
  position: relative;
  font-size: 1em;
  margin-bottom: 3em;
  font-weight: 400;
  color: var(--accent);
}

.serviceRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  margin-bottom: 2em;
}

.rowHR {
  flex: 1;
  border: none;
  border-top: 1px dotted rgba(204, 211, 218, 0.609);
  transform: translateY(0.5em);
}

.serviceRow p {
  line-height: unset;
  margin-bottom: 0.5em;
}

.servicesList {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .serviceRow {
    flex-direction: column;
  }
  .rowHR {
    width: 100%;
    margin-top: -0.5em;
  }
  .servicesList {
    margin-bottom: 2em;
  }
}


.clients {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  padding: 15vw calc(1em + 2vw);
}

.clients h2 {
  position: relative;
  font-size: 1em;
  margin-bottom: 3em;
  font-weight: 400;
  color: var(--accent);
}

.clients .logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 4em;
  width: 100%;
}

@media (min-width: 700px) {
  .clients .logos {
    grid-template-columns: repeat(3, 1fr);
    gap: 7em;
  }
}

.clientLogo {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}